*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Heebo&family=Inter:wght@500&family=Lato&family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600;1,800;1,900&display=swap');
body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: middle;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px 0;
}
.logo a {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
}
.menu ul {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(5, auto);
}
.menu ul li a {
    display: block;
    margin-left:25px ;
    font-size: 20px;
}
.menu ul li a:hover {
    color: #ff7720;
}
.banner-area img {
    width: 100%;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius:5px ;
}

/* About Area CSS */
.about-area {
    padding: 40px 0 80px ;
}
.about-top {
    text-align: center;
    padding: 30px 0;
}
.about-top h4 {
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-box {
    display: grid;
    grid-template-columns: repeat( 3, auto);
    column-gap: 20px;
}
.single-about {
    text-align: center;
    border: 1px solid #ddd;
    padding: 40px 20px;
    transition: .3s;
}
.single-about i {
    font-size: 26px;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}
.single-about h4 {
    font-size: 25px;
    margin: 20px 0;
}
.single-about:hover {
    border-color: tomato;
}

/* Services Area CSS */
.services-area {
    background-color: #f2f2f2;
    padding: 80px 0;
}
.title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 47px;
    text-transform: capitalize;
}
.services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 25px;
}
.single-services {
    background-color: #fff;
    padding: 20px;
}
.single-services h4 {
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    background-color: teal;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}
.single-services p {
    text-align: center;
    margin-top: 10px;
}
.single-services a {
    display: inline-block;
    text-transform: capitalize;
    background-color: tomato;
    color: #fff;
    padding: 10px 19px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
}
.single-services a:hover {
    background-color: teal;
}

/* Gallery Area CSS */
.gallery-area {
    padding: 80px 0;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    cursor: pointer;
}
.single-gallery img {
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 5px;
    transition: .3s;
}
.single-gallery img:hover{
    transform: scale(1.04);
}

/* Contact Area CSS */
.contact-area {
    background-color: #f2f2f2;
    padding: 80px 0;
}
.contact {
    display: grid;
    grid-template-columns: 59% 40%;
    column-gap: 25px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}
.contact-form input[type=submit] {
    background-color: #ff7720;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}
.contact-form input[type=submit]:hover{
    background-color: teal;
}
.single-address {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr;
    grid-gap: 5px;
    margin-bottom: 20px;
}
.single-address i {
    background-color: #ff7720;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}
.single-address h4 {
    font-size: 22px;
    text-transform: capitalize;
}
.single-address h4 span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

/* footer Area CSS */
footer.footer-area {
    text-align: center;
    background-color: teal;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}